{% extends '::base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets '@CbaseCbag3ArtefactBundle/Resources/public/css/*'%}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block page_header %}
<div class="page-header">
    <h1>{% block headline %}artefacte{% endblock headline %}</h1>
</div>
{% endblock page_header %}

{% block content %}
    <div class="span12">
        <div class="row-fluid">
            <div class="span12">
                <a href="{{ path('artefact_new')}}">neues artefact anlegen</a>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8" id="artefact_list">
                {% for artefact in artefacts %}
                    <span class="artefact">
                        <a href="{{ path('artefact_show', {'slug': artefact.slug}) }}">{{ artefact.name}}</a>
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}