{% extends '::base.html.twig' %}

{% block page_header %}
    <div class="page-header">
        <h1>{% block headline %}{{ artefact.name }}{% endblock headline %}</h1>
    </div>
{% endblock page_header %}

{% block head_style %}
    {{ parent() }}
    <style type="text/css">
        .asset_span label{
            font-size: 10px;
            min-height: 46px;
        }
    </style>
{% endblock head_style %}

{% block content %}
    <div class="span9">

        <form novalidate action="{{ path('artefact_save_asset', {'slug': artefact.slug})}}" method="post">
            <div class="row-fluid asset_span">
                <div class="span" style="display: none;"></div>
                {% for asset in assets %}
                    <div class="span3">
                        <div class="row-fluid">
                            <div class="span2">
                                <input id="{{ asset.id }}" type="checkbox" name="asset[]" value="{{ asset.id }}" {% if asset.id in selectedAssets %}checked="checked"{% endif %}>
                            </div>
                            <div class="span10">
                                <label for="{{ asset.id }}">
                                    <img class="img-polaroid" src="{{ asset(asset.webPath) | imagine_filter('my_thumb', true)}}" alt="{{ asset.description }}" title="{{ asset.description }}" />
                                </label>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2"></div>
                            <div class="span10"><label for="{{ asset.id }}">{{ asset.description }}</label></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br />
            <div class="span3">
                <button type="submit" class="btn">c_peichern</button>
            </div>
        </form>

    </div>
    <div class="span3">
        {% block content_sidebar %}
            <h3>actionen</h3>
            <ul class="unstyled">
                <li><a href="{{ path('artefact_show', {'slug': artefact.slug})}}">zurück zum artefact</a></li>
                <li><a href="{{ path('asset_create')}}">neuen 2d scan hochladen</a></li>
                <li><a href="{{ path('artefact_index')}}">zurück zu den artefacten</a></li>
            </ul>
        {% endblock content_sidebar %}
    </div>
{% endblock content %}