{% extends '::base.html.twig' %}

{% block page_header %}
<div class="page-header">
    <h1>{% block headline %}CBAG3: {{artefact.name}}{% endblock headline %}</h1>
</div>
{% endblock page_header %}

{% block content %}
<div class="span9">

    <p>{{artefact.description | markdown}}</p>
    <ul>
        {% for artefactAsset in artefact.assets %}
            <li><img src="{{asset(artefactAsset.webPath)}}" alt="" /></li>
        {% endfor %}
    </ul>

</div>
<div class="span3">
    {% block content_sidebar %}
    <h2>Actions</h2>
    <ul>
        <li><a href="{{ path('artefact_index')}}">back to the list</a></li>
        <li><a href="{{ path('artefact_edit', {'slug': artefact.slug})}}">edit</a></li>
        <li><a href="">delete</a></li>
    </ul>
    {% endblock content_sidebar %}
</div>
{% endblock content %}