{% extends '::base.html.twig' %}

{% block page_header %}
    <div class="page-header">
        <h1>{% block headline %}CBAG3: Edit Media{% endblock headline %}</h1>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="span9">

        <form novalidate action="{{ path('asset_update', {'id': id})}}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" />
        </form>
        <img class="img-polaroid" src="{{ asset(asset.webPath)}}" alt="{{ asset.description }}" title="{{ asset.description }}" />
    </div>
    <div class="span3">
        {% block content_sidebar %}
            <h3>Actions</h3>
            <ul>
                <li><a href="{{ path('asset_index')}}">back to list</a></li>
                <li><a href="{{ path('artefact_index')}}">artefacts</a></li>
            </ul>

        {% endblock content_sidebar %}
    </div>
{% endblock content %}