{% extends '::base.html.twig' %}

{% from 'MopaBootstrapBundle::icons.html.twig' import icon %}

{% block page_header %}
<div class="page-header">
    <h1>{% block headline %}CBAG3: Uploaded Media{% endblock headline %}</h1>
</div>
{% endblock page_header %}

{% block content %}
<div class="span9">
    <div class="row-fluid">
        {% for asset in assets %}
        <div class="span2">
            <img class="img-polaroid" src="{{ asset(asset.webPath) | imagine_filter('my_thumb', true)}}" alt="{{ asset.description }}" title="{{ asset.description }}" />
            <a href="{{ path('cbase_cbag3_asset_asset_delete', {'id': asset.id} )}}">{{ icon('remove-circle') }}delete</a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="span3">
    {% block content_sidebar %}
    <h2>Actions</h2>
    <ul>
        <li><a href="{{ path('cbase_cbag3_asset_asset_create')}}">create new asset</a></li>
    </ul>
    {% endblock content_sidebar %}
</div>
{% endblock content %}